# Code Owners for EricksonLopez.Idempotency
* @ericksonlopezf
/.github/ @ericksonlopezf
/src/ @ericksonlopezf
/tests/ @ericksonlopezf
/samples/ @ericksonlopezf
/benchmarks/ @ericksonlopezf
/docs/ @ericksonlopezf
